td {
    font-family: Verdana, sans-serif;
}

.outcome {
	border: 5px;
}

#money {
	text-align: center;
	line-height: 50px;
	margin-left: 285px;
	font-weight: bold;
	font-size: 1.8em;
}

#gamediv {
	margin-left: 105px;
	line-height: 200px;
}

#startroll {
	margin-left: 165px;
	background-color: #66a3ff;
	color: black;
	border: none;
	font-size: 1.5em;
	font-family: Verdana, sans-serif;
}

#startroll:hover {
	background-color: #0052cc;
	color: white;
}

#startroll:focus {
	outline: 0;
	box-shadow: none;
}

#bet {
	color: #000000;
}

#bet:hover {
	color: #ffffff;
}

#bet:focus {
	outline: 0;
	box-shadow: none;
}

#betnot {
	color: #000000;
}

#betnot:hover {
	color: #ffffff;
}

#betnot:focus {
	outline: 0;
	box-shadow: none;
}

h1 {
	font-family: Vivaldi, serif;
	color: black;
	font-weight: bold;
	font-size: 3.0em;
}

h2 {
	font-family: Verdana, sans-serif;
	color: black;
	font-size: 1.0em;
	font-weight: lighter;
}

h3 {
	font-family: Verdana, sans-serif;
	color: black;
	text-decoration: underline;
	font-size: 2.5em;
}

h4 {
	font-family: Verdana, sans-serif;
	color: black;
	font-size: 1.0em;
	font-weight: lighter;
}

#page1 {
	margin-left: 650px;
	margin-top: 25px;
	
}

#page1:hover {
	color: white;
	background-color: #909090;
}

#instructions_page {
	margin-left: 395px;
	color: black;
}

#instructions_page:hover {
	color: white;
	background-color: #909090;
}