.outcome {
	border: 5px;
}

#money {
	text-align: center;
	line-height: 50px;
	margin-left: 165px;
}

#gamediv {
	margin-left: 100px;
	line-height: 200px;
}

#startroll {
	margin-left: 165px;
	background-color: #0066ff;
	color: white;
	border: 10px, solid, white;
}

#startroll:hover {
	background-color: #0047b3;
}

#startroll:focus {
	outline: 0;
	box-shadow: none;
}

#bet {
	color: #000000;
}
#bet:hover {
	color: #ffffff;
}

#bet:focus {
	outline: 0;
	box-shadow: none;
}

/*
#bet:active {
	opacity: 0.9;
}
*/

#betnot {
	color: #000000;
}

#betnot:hover {
	color: #ffffff;
}

#betnot:focus {
	outline: 0;
	box-shadow: none;
}

h1 {
	font-family: Vivaldi;
	color: black;
	font-weight: bold;
	font-size: 3.0em;
}

h2 {
	font-family: Garamond;
	color: #3333cc;
	font-size: 1.0em;
}

h3 {
	font-family: Garamond;
	color: blue;
	text-decoration: underline;
	font-size: 3.0em;
}

h4 {
	font-family: Lucida Sans Unicode;
	color: black;
	font-size: 1.0em;
}

#page1 {
	margin-left: 650px;
	margin-top: 25px;
}

#instructions_page {
	margin-left: 395px;
}